@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald:wght@200;300&display=swap');

:root{
    --nav-color:#75cac3;
    --nav-shade:#2a6171;
    --cta-color:#f34573;
    --card-bg:  #d7f7f5;
}
/* 
body{
    height: 100vh;
} */

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 1;
}

.active{
    background-color: white

}

.nav{
    position: relative;
    display: block;
}

.nav-section{
    background-color: transparent;
    padding: 10px 0;
}

.active-link{
    border-bottom: white solid 2px;
    border-radius: 5px;
}

.nav-link:hover{
    border-bottom: white solid 2px; 
    border-radius: 5px;
}

.testomonial-heading{
    font-family: 'Montserrat', sans-serif;
}

.testomonial-section{
    padding: 20px;
    border-radius: 5px;
}

.cards{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    border: 1px solid #a5a5a5;
    border-left: 5px solid var(--cta-color);
    border-radius: 5px;

}

.shadow-card{
    box-shadow: 3px 5px 10px #f3457325;
    border-radius: 5px;
}

.header{
    padding:5rem
}

@media screen and (max-width: 480px) {
    .over-flow {
      overflow-y: scroll;
      max-height: 21.5rem;
    }
    .header{
        padding:0.5rem;
        height: fit-content;
    }
}


.sidebar{
    background: transparent;
    position: absolute;
    top: 19.5rem;
    left: 0;
    width: 280px;
    height: 80%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.sidebar-right{
    background: transparent;
    position: absolute;
    top: 19.5rem;
    right: 0;
    width: 280px;
    height: 80%;
    transition: all 0.5s ease;
}



@media screen and (max-width: 480px) {
    .sidebar{
        display:none;
        
    }
    .sidebar-right{
        display:none;
        
    }
}

@media  screen and (max-width:1440px) {
    .sidebar{
        display:none;
        
    }
    .sidebar-right{
        display:none;
        
    }
}

.special-text{
    font-size: 1rem;
    color: #6b2a71;
    font-weight: 600;
}

.btn-order{
    background-color: var(--cta-color);
    color: #fff;
    border-radius: 5px;
    padding: 2.5px 5px;
    border: none;
    transition: all 0.5s ease;
}

hr{
    border-top: 1px dashed rgb(255, 0, 170) !important;
}

.market-cap{
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.stock-card{
    background-color: rgba(0, 0, 255, 0.11);
}

.sidebar-element{
    background-color: #7696db;
    color:white;
}
.sidebar-element:hover{
    background-color: #7696db9d;
    box-shadow: 3px 5px 10px #7696db59;
    transition: all 0.3s ease;
}

.growth-card{
    background-color: #d3dbdd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 3px 5px 10px #f3457325;
}

.tileMe li {
    display: inline;
    float: left;
}

.footer-link{
    display: block;
    padding: 10px;
    margin-right: 10px;
}